<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-2017-kale w3-opacity-min w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button w3-xlarge w3-hover-light-green w3-hover-text-brown">Avocado Crumble</a>

    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#search" class="w3-bar-item w3-button w3-hover-light-green w3-hover-text-brown w3-padding-16">Recipe
        Search</a>
      <a href="#addRecipe" class="w3-bar-item w3-button w3-hover-light-green w3-hover-text-brown w3-padding-16">Add a
        Recipe</a>

      <a href="#old-searches-container" class="w3-bar-item w3-button w3-hover-light-green w3-hover-text-brown w3-padding-16">Past
        Searches</a>

      <a href="#contact"
        class="w3-bar-item w3-button w3-hover-light-green w3-hover-text-brown w3-padding-16">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide " style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="https://i.imgur.com/alYuI65.jpg" alt="Kitchen" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large">
    <h1 id="avoquotes" class="w3-xxlarge" style="text-shadow:1px 1px 0 #444">Avocado Crumble</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-medium w3-hide-small"><br><br>
      <img
        src="https://images.vexels.com/media/users/3/129266/isolated/preview/6df2dfc6d40daa8858fabe519272a0f0-avocado-circle-icon-by-vexels.png"
        class="w3-round w3-image w3-opacity-min" alt="Avocado" height="350px" width="350px">
    </div>

    <div class="w3-col m6 w3-padding-medium">
      <h1>About Avocado Crumble</h1><br>
      <p>Avocado Crumble is a free web-based application using the Yummly API that allows users to search for recipes
        with specific items and/or diet restrictions.</p>

      <p>
        <h3>Searching for a Recipe</h3>
        Searching for a recipe is very easy! You <b>must</b> enter a main as well as a secondary ingredient to view
        recipes. If there are any specific diet/allergy restrictions you may select those as well from the
        dropdowns.
      </p>

      <p>
        <h3>Adding a Recipe</h3>
        Do you have a delicious recipe that you would like to share with others? Make sure to have a name for your super
        awesome recipe! Inclue the main and second ingredient so others may search easily for your recipe. Also, all
        other ingredients should be included as well as any dietry/allergy information.
      </p>
      </p>

    </div>
  </div>
  <div align=center><img src="https://i.imgur.com/skBb0K8.png" width="500px"></div>

  <!-- Recipe Search Section -->
  <div class="w3-row w3-padding-64">
    <div class="w3-col l6 w3-padding-large" id="search">
      <h1>Search for a Recipe</h1><br>

      <input id="mainIngredient" class="w3-input w3-animate-input w3-text-brown w3-sand" type="text"
        style="width:200px">
      <label class="w3-text-brown">Main Ingredient</label>
      <br>
      <input id="allowedIngredient" class="w3-input w3-animate-input w3-text-brown w3-sand" type="text"
        style="width:200px">
      <label class="w3-text-brown">Secondary Ingredient</label>
      <br>
      <br>
      <select name="diet" id="diet" class="w3-select w3-text-brown w3-sand" style="width:250px">
        <option value="" disabled selected>Choose a Diet (optional)</option>
        <option value=""></option>
        <option value="406^Ketogenic">Ketogenic</option>
        <option value="388^Lacto vegetarian">Lacto Vegetarian</option>
        <option value="389^Ovo vegetarian">Ovo Vegetarian</option>
        <option value="390^Pescetarian">Pescatarian</option>
        <option value="386^Vegan">Vegan</option>
        <option value="408^Low FODMAP">Low FODMAP</option>
        <option value="387^Lacto-ovo vegetarian">Lacto-ovo Vegetarian</option>
        <option value="403^Paleo">Paleo</option>
      </select>
      <br>
      <label for="diet">Diet</label>
      <br>
      <br>
      <select name="allergies" id="allergies" class="w3-select w3-text-brown w3-sand" style="width:250px">
        <option value="" disabled selected>Choose an Allergy (optional)</option>
        <option value=""></option>
        <option value="393^Gluten-Free">Gluten Free</option>
        <option value="394^Peanut-Free">Peanut Free</option>
        <option value="398^Seafood-Free">Seafood Free</option>
        <option value="399^Sesame-Free">Sesame Free</option>
        <option value="400^Soy-Free">Soy Free</option>
        <option value="396^Dairy-Free">Dairy Free</option>
        <option value="397^Egg-Free">Egg Free</option>
        <option value="401^Sulfite-Free”">Sulfite Free</option>
        <option value="395^Tree Nut-Free">Tree Nut Free</option>
        <option value="392^Wheat-Free">Wheat Free</option>
      </select>
      <br>
      <label for="allergies">Allergies</label>
      <br>
      <br>
      <div align="center">
        <button id="recipeSearch"
          class="w3-button w3-2017-kale w3-hover-light-green w3-hover-text-brown w3-opacity-min">Search</button>
      </div>
    </div>

    <div class="w3-col l6 w3-padding-large" id="searches-div">
      <img src="https://i.imgur.com/4ZrRJgw.png" alt="Cookbook" style="width:100%">

      <img src="https://i.imgur.com/qVgGquL.png" alt="Vegetables and Knife" style="width:100%">

    </div>

    <div class="w3-col l6">
      <ul class="w3-ul" id="searchResults">
      </ul>
    </div>

  </div>

  <div align=center><img src="https://i.imgur.com/skBb0K8.png" width="500px"></div>

  <!-- Add a Recipe Section -->
  <div class="w3-row w3-padding-64" id="addRecipe">
    <div class="w3-col m6 w3-padding-large w3-hide-small" id="addImage"><br><br><br><br><br><br>
      <img src="https://i.imgur.com/I8VcRRu.png" alt="Chef" height="450px" width="450px">
    </div>
    <div class="w3-col l6 w3-container" id="recipeArea">

      <ul class="w3-ul" id="addResults">
      </ul>
    </div>

    <div class="w3-col m6 w3-padding-large" id="recipeForm">
      <h1 class="w3-center" id="addRecipe">Add a Recipe</h1><br>
      <div align="right">
        <input id="titleAdd" class="w3-input w3-animate-input w3-sand" type="text" style="width:200px">
        <label class="w3-text-brown">Name of Recipe</label>
        <br>
        <br>
        <input id="mainAdd" class="w3-input w3-animate-input w3-sand" type="text" style="width:200px">
        <label class="w3-text-brown">Main Ingredient</label>
        <br>
        <br>
        <input id="allowedAdd" class="w3-input w3-animate-input w3-sand" type="text" style="width:200px">
        <label class="w3-text-brown">Secondary Ingredient</label>
        <br>
        <br>
        <select name="diet" id="dietAdd" class="w3-select w3-text-brown w3-sand" style="width:250px">
          <option value="" disabled selected> </option>
          <option value="406^Ketogenic">Ketogenic</option>
          <option value="388^Lacto vegetarian">Lacto Vegetarian</option>
          <option value="389^Ovo vegetarian">Ovo Vegetarian</option>
          <option value="390^Pescetarian">Pescatarian</option>
          <option value="386^Vegan">Vegan</option>
          <option value="408^Low FODMAP">Low FODMAP</option>
          <option value="387^Lacto-ovo vegetarian">Lacto-ovo Vegetarian</option>
          <option value="403^Paleo">Paleo</option>
        </select>
        <br>
        <label for="diet">Diet</label>
        <br>
        <br>
        <select name="allergies" id="allergiesAdd" class="w3-select w3-text-brown w3-sand" style="width:250px">
          <option value="" disabled selected> </option>
          <option value="393^Gluten-Free">Gulten Free</option>
          <option value="394^Peanut-Free">Peanut Free</option>
          <option value="398^Seafood-Free">Seafood Free</option>
          <option value="399^Sesame-Free">Sesame Free</option>
          <option value="400^Soy-Free">Soy Free</option>
          <option value="396^Dairy-Free">Dairy Free</option>
          <option value="397^Egg-Free">Egg Free</option>
          <option value="401^Sulfite-Free”">Sulfite Free</option>
          <option value="395^Tree Nut-Free">Tree Nut Free</option>
          <option value="392^Wheat-Free">Wheat Free</option>
        </select>
        <br>
        <label for="allergies">Allergies</label>
        <br>
        <br>
        <p><textarea class="w3-input w3-sand w3-text-brown" id="instructions" type="text"
            placeholder="Enter the instructions here..." required name="Message" rows="4" wrap="hard"></textarea></p>
        <br>
        <p><textarea class="w3-input w3-sand w3-text-brown" id="ingredients" type="text"
            placeholder="Enter the full ingredients here..." required name="Message" rows="4" wrap="hard"></textarea>
        </p>
        <br>

        <div align="center">
          <button id="recipeAdd" type="submit"
            class="w3-button w3-2017-kale w3-hover-light-green w3-hover-text-brown w3-opacity-min">Add Recipe</button>
        </div>
      </div>

      <div id="addRecipeResults">



        {{!-- Content for add recipe Results --}}

      </div>
    </div>
  </div>

  <div align=center><img src="https://i.imgur.com/skBb0K8.png" width="500px"></div>

  <!-- Past Searches Section -->
  <div class="w3-container w3-padding-64" id="old-searches-container">
    <h2 class="w3-text-brown w3-center">See what others have searched for!</h2><br>
    <ul id="past-searches" class="w3-ul w3-col l6">

    </ul>
    <div class="w3-col l6 w3-padding-large" id="old-searches-img">
      <img src="https://i.imgur.com/4ZrRJgw.png" alt="Cookbook" style="width:100%">
    </div>

    <h2 class="w3-text-brown w3-center"></h2><br>
    <ul id="old-searches" class="w3-ul w3-col l6">

    </ul>
  </div>


  <div align=center><img src="https://i.imgur.com/skBb0K8.png" width="500px"></div>

  <!-- Contact Section -->

  <div class="w3-container w3-padding-64" id="contact">
    <h2>Contact</h2><br>
    <p>Have a question, comment, or is something not working properly? Please, let us know!

      <form action="https://formspree.io/bobachu.develop@gmail.com" method="POST" />
      <p><input class="w3-input w3-padding-16 w3-sand w3-text-brown" type="text" placeholder="Name" required
          name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-sand w3-text-brown" type="email" placeholder="Email" required
          name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-sand w3-text-brown" type="text" placeholder="Title" required
          name="Title"></p>
      <p><textarea class="w3-input w3-sand w3-text-brown" type="text" placeholder="Enter your message here..." required
          name="Message" rows="4" wrap="hard"></textarea></p>
      <div align="right">
        <button id="sendMessage"
          class="w3-button w3-2017-kale w3-hover-light-green w3-hover-text-brown w3-opacity-min">Send
          Message</button></div>
  </div>
  </form>
</div>

<!-- End page content -->
</div>

<!-- Javascript -->
<script rel="Javascript" src="js/index.js"></script>
<script rel="Javascript" src="js/avoquotes.js"></script>


<!-- Footer -->
<footer class="w3-center w3-camo-sandstone w3-opacity-min w3-padding-16">
  <p>Formatted and Javascript © Bob Church, Syd Volk, Amy Smith 2019</p>
  <p>Template <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
      class="w3-hover-text-green">w3.css</a></p>
</footer>