<!-- Results Template 

{{#each results}}

<h2>'Recipe Name'</h2>

<p>Ingredients Needed:
<li>
 </li>

 <button>See the full directions here!</button>
</p>

<hr>

{{/each}} -->

<!--
    Image size: 300px
    Name of Recipe
    Ingredients (for Loop - data is an array)
    URL as link to directions

    Limit of 5 recipes displayed

    -->