<!-- Results Template 

{{#each results}}
<img src="" alt="finished meal">
<h2>'Recipe Name'</h2>

<p>Ingredients Needed:
<li>
 </li>

 <button>See the full directions here!</button>
</p>

<hr>

{{/each}} -->

<!--
    Image size: 300px
    Name of Recipe
    Ingredients (for Loop - data is an array)
    URL as link to directions

    Limit of 5 recipes displayed

    -->

<!-- =======================================

-- RESULTS EXAMPLE --

"matches": [
{
"imageUrlsBySize": {
"90": "https://lh3.googleusercontent.com/Y3QhomwHQAWjgeZDFwFd2aTP04DDJdW2iIcVvKgKsevGpOhVBSM2r4LjyIfe7NNB6iF2tHIh76V5kgjNEDwQ4-U=s90"
},
"sourceDisplayName": "Carmy",
"ingredients": [
"onion",
"garlic",
"chickpeas",
"smoked paprika",
"salt",
"pepper",
"smooth peanut butter",
"chili flakes",
"gochujang",
"peanuts",
"diced tomatoes",
"coconut milk",
"spinach"
]
-->